:root {
    --basecolor: #2b98ff;
    --white: #ffffff;
    --yellow: #ffdc2b;
    --cardbordercolor: #ffc96d;
    --darkgrey: #949293;
    --darkgrey2: #e7ebed;
    --cardtextcolor: #2baaff;
    --fwextrabold: 800;
    --fwbold: 700;
    --fwsemibold: 600;
    --fwmedium: 500;
    --fwregular: 400;
    --fwlight: 300;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: var(--basecolor); */
}

.navbar {
    --bs-nav-link-padding-y: 0;
}

.navbar-nav .dropdown-menu {
    --bs-dropdown-padding-y: 0;
    border: none;
}

.navbar-toogler .navbar-toggler-icon {
    border-color: var(--white);
}

.navbar-toggler .collapsed {
    border-color: var(--white);
}

.navbar-toggler {
    border-color: var(--white);
    color: var(--white);
}

.navbar-nav .nav-item a:hover {
    color: var(--yellow);
    transition: all 0.3s ease;
    font-weight: var(--fwsemibold);
}

.navbar-nav .nav-item {
    transition: all 0.3s ease;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: var(--fwregular);
    background: var(--basecolor);
}

.navbar-nav .nav-item .nav-link {
    color: white;
}

.navbar-brand a:hover {
    font-weight: var(--fwbold);
    font-size: 28px;
    color: var(--yellow);
}

.navbar-brand {
    font-weight: var(--fwbold);
    font-size: 28px;
    color: white;
}

.main-navbar {
    background: var(--basecolor, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border: 1px solid rgba(255, 255, 255, 0.18); */
    padding: 30px;
    border-bottom-left-radius: 26px;
    border-bottom-right-radius: 26px;
    z-index: 1;
}

.card {
    width: 200px;
    /* background: var(--yellow, 0.4); */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 0;
}

.card-title {
    color: var(--basecolor);
    font-weight: var(--fwmedium);
    font-size: 16px;
}

.bagian {
    transform-style: preserve-3d;
}

.bagian .box {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    cursor: pointer;
}

.bagian .box .body-kartu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.9s ease;
}

.bagian .box .body-kartu .imgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.bagian .box .body-kartu .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bagian .box:hover .body-kartu {
    transform: rotateY(180deg);
}
